<h1><%= @survey.name %></h1>

<%= simple_form_for :answer, url: home_answer_path, method: :put do |f| %>
  <% @survey.questions.each do |question| %>
    <%= simple_fields_for "[answer]#{question.id}" do |qf| %>
      <div class="well">
        <%= qf.input "answer", label: question.name, collection: question.options, input_html: {class: 'form-control'}  %>
      </div>
    <% end %>
  <% end %>

  <%= f.button :submit %>
<% end %>
