<h1><%= @survey.name %></h1>
<p>Point totals are calculated using <a href="https://en.wikipedia.org/wiki/Borda_count">Borda Count</a>.</p>

<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<% @survey.questions.each do |question| %>
  <div class="well">
    <h3><%= question.name %></h3>
    <script>
    $( function() {
      $( "#question_<%= question.id %>" ).sortable();
      $( "#question_<%= question.id %>" ).disableSelection();
    } );
    </script>
    <div class="row">
      <div class="col-md-6">
        <p>1. Add all the options you care to vote on.</p>
        <ul>
          <% question.options.shuffle.each do |option| %>
            <li>
              <div class="btn-group" role="group">
                <span class="btn btn-default"><%= option %></span>
                <span class="btn btn-default js-add-option" data-option-id="<%= option %>" data-question-id="<%= question.id %>">Add</span>
              </div>
            </li>
          <% end %>
        </ul>
      </div>
      <div class="col-md-6">
        <p>2. Drag the options into descending order from best to worst.</p>
        <ul class="js-question" data-question-id="<%= question.id %>" id="question_<%= question.id %>">
        </ul>
      </div>
    </div>
  </div>
<% end %>

<a class="js-submit btn btn-primary">Save</a>

<script>
  function rehook() {
    $('.js-up').off().click(function(){
        var current = $(this).closest('li');
        current.prev().before(current);
    });
    $('.js-down').off().click(function(){
        var current = $(this).closest('li');
        current.next().after(current);
    });
  }

  rehook()

  $('.js-submit').on('click', function() {
    var data = {}
    $('.js-question').each(function(index) {
      data[$(this).data('question-id')] = $(this).sortable('toArray');
    });

    $.post("<%= home_answer_path %>", {answers: data})
  });

  var itemTemplate = `<li id="{option_id}"><div class="btn-group" role="group"><span class="btn btn-default">{option}</span><span class="btn btn-default js-up">⬆️</span><span class="btn btn-default js-down">⬇️</span></div></li>`;

  $('.js-add-option').click(function() {
    if ($(this).html() == 'Add') {
      $(this).html('Remove');
      var id = $(this).data('option-id');
      var questionId = $(this).data('question-id');
      $("#question_" + questionId).append(itemTemplate.replace(/{option_id}/g, optionNameToId(id)).replace(/{option}/g, id));
      rehook();
    } else {
      $(this).html('Add');
      $('#' + optionNameToId($(this).data('option-id'))).remove();
    }
  });

  function optionNameToId(name) {
    return name.replace(/ /g, '_');
  }
</script>
