<h1><%= @survey.name %></h1>
<p>Point totals are calculated using <a href="https://en.wikipedia.org/wiki/Borda_count">Borda Count</a>.</p>

<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<% @survey.questions.each do |question| %>
  <div class="well">
    <h3><%= question.name %></h3>
    <p>Drag each entry (or use the buttons on mobile) to order the entries from most best to least best, in descending order.</p>
    <script>
    $( function() {
      $( "#question_<%= question.id %>" ).sortable();
      $( "#question_<%= question.id %>" ).disableSelection();
    } );
    </script>
    <ul class="js-question" data-question-id="<%= question.id %>" id="question_<%= question.id %>">
      <% question.options.shuffle.each do |option| %>
        <li id="<%= option %>">
          <div class="row">
            <div class="col-md-10">
              <span class="btn btn-default btn-block"><%= option %></span>
            </div>
            <div class="col-md-1">
              <span class="btn btn-default btn-block js-up">Up</span>
            </div>
            <div class="col-md-1">
              <span class="btn btn-default btn-block js-down">Down</span>
            </div>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>

<a class="js-submit btn btn-primary">Save</a>

<script>
  $('.js-up').click(function(){
      var current = $(this).closest('li');
      current.prev().before(current);
  });
  $('.js-down').click(function(){
      var current = $(this).closest('li');
      current.next().after(current);
  });

  $('.js-submit').on('click', function() {
    var data = {}
    $('.js-question').each(function(index) {
      data[$(this).data('question-id')] = $(this).sortable('toArray');
    });
    console.log(data);

    $.post("<%= home_answer_path %>", {answers: data})
  });
</script>
