<h1><%= @survey.name %></h1>
<p>Point totals are calculated using <a href="https://en.wikipedia.org/wiki/Borda_count">Borda Count</a>.</p>

<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<% @survey.questions.each do |question| %>
  <div class="well">
    <h3><%= question.name %></h3>
    <script>
    $( function() {
      $( "#question_<%= question.id %>" ).sortable();
      $( "#question_<%= question.id %>" ).disableSelection();
    } );
    </script>
    <div class="row">
      <div class="col-md-6">
        <p>1. Add all the options you care to vote on.</p>
        <ul>
          <% question.options.shuffle.each do |option| %>
            <li>
              <div class="btn-group" role="group">
                <span class="btn btn-default"><%= option %></span>
                <span class="btn btn-default js-add-option" data-option-id="<%= option %>" data-question-id="<%= question.id %>">Add</span>
              </div>
            </li>
          <% end %>
        </ul>
      </div>
      <div class="col-md-6">
        <p>2. Drag the options into descending order from best to worst.</p>
        <p id="question_<%= question.id %>_complete" style="display:none"><span class="glyphicon glyphicon-ok" aria-hidden="true" style="color:green"></span> Section complete, thanks!</p>
        <p id="question_<%= question.id %>_incomplete"><span class="glyphicon glyphicon-remove" aria-hidden="true" style="color:red"></span> You must add at least 5 options.</p>
        <ul class="js-question" data-question-id="<%= question.id %>" id="question_<%= question.id %>">
        </ul>
      </div>
    </div>
  </div>
<% end %>

<a class="js-submit btn btn-primary" disabled>Save</a><br><br><br>

<script>
  function rehook() {
    $('.js-up').off().click(function(){
        var current = $(this).closest('li');
        current.prev().before(current);
    });
    $('.js-down').off().click(function(){
        var current = $(this).closest('li');
        current.next().after(current);
    });
  }

  rehook()

  $('.js-submit').on('click', function() {
    console.log(validateAll());
    if (!validateAll())
      return;

    var data = {}
    $('.js-question').each(function(index) {
      data[$(this).data('question-id')] = $(this).sortable('toArray');
    });

    console.log(data);

    $.post("<%= home_answer_path %>", {answers: data})
  });

  var itemTemplate = `<li id="{option}" class="{option_class}"><div class="btn-group" role="group"><span class="btn btn-default">{option}</span><span class="btn btn-default js-up">⬆️</span><span class="btn btn-default js-down">⬇️</span></div></li>`;

  $('.js-add-option').click(function() {
    if ($(this).html() == 'Add') {
      $(this).html('Remove');
      var id = $(this).data('option-id');
      var questionId = $(this).data('question-id');
      $("#question_" + questionId).append(itemTemplate.replace(/{option_class}/g, optionNameToId(id)).replace(/{option}/g, id));
      validateAll();
      rehook();
    } else {
      $(this).html('Add');
      $('.' + optionNameToId($(this).data('option-id'))).remove();
      validateAll();
    }
  });

  function validateAll() {
    var allValid = true
    $('.js-question').each(function() {
      allValid = allValid && validate($(this).attr('id'));
    });

    if (allValid) {
      $('.js-submit').removeAttr('disabled');
    } else {
      $('.js-submit').attr('disabled', 'disabled');
    }

    return allValid;
  }

  function validate(containerId) {
    if ($('#' + containerId + ' li').length >= 5) {
      $('#' + containerId + '_complete').show();
      $('#' + containerId + '_incomplete').hide();
      return true;
    } else {
      $('#' + containerId + '_complete').hide();
      $('#' + containerId + '_incomplete').show();
      return false;
    }
  }

  function optionNameToId(name) {
    return name.replace(/[\W]/g, '_');
  }
</script>
