<h1><%= @survey.name %> Results</h1>

<div class="row">
  <% @survey.questions.each do |question| %>
    <div class="col-md-6">
      <h3><%= question.name %></h3>
      <canvas id="chart_<%= question.id %>" width="200" height="200"></canvas>
      <script>
      var ctx = document.getElementById("chart_<%= question.id %>").getContext('2d');
      var myChart = new Chart(ctx, {
          type: 'bar',
          data: {
              labels: <%= question.results.keys.inspect.html_safe %>,
              datasets: [{
                  label: 'Points',
                  data: <%= question.results.values.inspect %>,
              }]
          },
          options: {
              scales: {
                  yAxes: [{
                      ticks: {
                          beginAtZero:true
                      }
                  }]
              }
          }
      });
      </script>
    </div>
  <% end %>
</div>

